extends ../layout

block content
    .page-header
        h3 Crear evento
    form.form-horizontal(id='create-event-form', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
            label.col-sm-3.control-label(for='title') Título
            .col-sm-7
                input.form-control(type='text', name='title', id='title', placeholder='Título', autofocus)
        .form-group
            label.col-sm-3.control-label(for='description') Descripción
            .col-sm-7
                textarea.form-control(name='description', id='description', placeholder='Descripción')
        .form-group
            label.col-sm-3.control-label(for='latitude') Latitude
            .col-sm-7
                input.form-control(type='text', name='latitude', id='latitude', placeholder='Latitude')

        .form-group
            label.col-sm-3.control-label(for='longitude') Longitude
            .col-sm-7
                input.form-control(type='text', name='longitude', id='longitude', placeholder='Longitude')


        .form-group
            .col-sm-offset-3.col-sm-7
                button.btn.btn-success(type='submit')
                    i.fa.fa-user-plus
                    | Crear evento
