extends ../layout

block content
    .page-header
        h3 Crear evento
    form.form-horizontal(id='create-event-form', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
            label.col-sm-3.control-label(for='title') Título
            .col-sm-7
                input.form-control(type='text', name='title', id='title', placeholder='Título', autofocus, required)
        .form-group
            label.col-sm-3.control-label(for='desc') Descripción
            .col-sm-7
                textarea.form-control(name='desc', id='desc', placeholder='Descripción')
        .form-group
            label.col-sm-3.control-label Location
            .col-sm-7
              input.form-control(type='text', name='address', id='address', placeholder='Address', required)
              input(type='hidden', name='latitude' id='latitude')
              input(type='hidden', name='longitude' id='longitude')
        .form-group
            .col-sm-offset-3.col-sm-7
                #map

        .form-group
            .col-sm-offset-3.col-sm-7
                button.btn.btn-success(type='submit')
                    i.fa.fa-user-plus
                    | Crear evento

block extra-scripts
  != js('new-event')