extends ../layout

block content
    h1 #{event.title}

    p Invita participantes:

    ul
    for user in users
        li #{user.email} <input type="checkbox" name="participant" value="#{user.id}">


    ul
        li Share on Facebook
        li Share on Twitter